
        <div th:fragment="article" class="container p-3">
          <div class="text-left bg-green-trees">
            <div class="row">
              <div class="col-xs-12 col-md-8">
                <div class="article-body p-md-5">
                  <h1>Heading 1</h1>
                  <p>
                    A quick brown fox jumps over the lazy dog.A quick brown fox
                    jumps over the lazy dog.A quick brown fox jumps over the
                    lazy dog.
                  </p>
                  <p>
                    A quick brown fox jumps over the lazy dog.A quick brown fox
                    jumps over the lazy dog.A quick brown fox jumps over the
                    lazy dog.
                  </p>
                  <p>
                    A quick brown fox jumps over the lazy dog.A quick brown fox
                    jumps over the lazy dog.A quick brown fox jumps over the
                    lazy dog.
                  </p>
                  <p>
                    A quick brown fox jumps over the lazy dog.A quick brown fox
                    jumps over the lazy dog.A quick brown fox jumps over the
                    lazy dog.
                  </p>

                  <!-- Banner -->
                  <div class="row">
                    <div class="col banner">
                      <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8">
                          <div class="text-center">
                            <h2>Adventure awaits out there</h2>
                            <p class="text-center">
                              Get out and experience Scandinavian way of living
                            </p>
                          </div>
                        </div>
                        <div class="col banner-sidebar d-none d-sm-block">
                          <div class="row">
                            <div class="col-4">
                              <div style="min-height: 75px" class="d-flex align-items-center justify-content-center">
                                <div>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
                                    <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"></path>
                                  </svg>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div style="min-height: 75px" class="d-flex align-items-center justify-content-center">
                                <h4>Special offer</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="article-sidebar p-md-5">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      