
        <div th:fragment="center-r" class="container-fluid">
          <div class="row p-0">
            <div class="showcase text-center bg-green-thumb">
              <div class="showcase-body" style="padding-top: 95px">
                <h1 th:text="${lang.localization1}">
                  We provide the best services in the area
                </h1>
                <p th:text="${lang.localization2}">
                  Learn about token based authentication and
                  <a href="#">how to easily implement JWT</a> in your
                  applications.
                </p>
              </div>
            </div>
          </div>
        </div>
      