
        <div th:fragment="quote" class="quote-body p-md-5">
          <div class="top bg-green-quote p-5">
            <h1 class="mt-md-5">Get a Quote</h1>
          </div>
          <div class="bottom p-md-3">
            <div class="row">
              <div id="root" class="col-xs-12 col-md-5"></div>
              <div class="col">
                <div class="right">
                  <h1>We offer certified translations</h1>
                  <p>
                    As a language evolves, texts in an earlier version of the
                    language—original texts, or old translations—may become
                    difficult for modern readers to understand. Such a text may
                    be translated
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      